.container-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    background-color: #393937;
    margin-top: 20%;
}

.league {
    font-size: 14px;
    font-weight: bold;
    color: #E0E0DD;
}

.half {
    font-size: 12px;
    color: #E0E0DD;
}

.scoreSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.team {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #E0E0DD
}

.logo {
    width: 20px;
    height: 20px;
}

.score {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    color: #D97757
}

.time {
    font-size: 12px;
    color: #13A10E;
}
